.back{
    border: none;
    background: none;
    /* font-size: 1.2em; */
    display: flex;
    align-items: center;
}

.main{
    padding: 2em 5em;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desc{
    padding: 2em;
    white-space: pre-line;
    line-height: 2em;
    word-break: break-all;
}

.img{
    width: 30%;
    height: fit-content;
}

.tag{
    padding: 0.2em 1em;
    border: 1px solid #bfbaba;
    border-radius: 0.5em;
    margin-right: 1em;
    color:#547efb;
}

.tags{
    display: flex;
    margin-bottom: 1em;
}

.stitle{
    border-bottom: 1px solid #c8c7c7;
    width: 70%;
    margin-top: 3em;
}
.apply{
    border: none;
    background: #3366ff;
    color: white;
    padding: 0.5em 2em;
    border-radius: 0.2em;
    margin: 5em 1em 0;
    width: fit-content;
}