.layout{
    display: flex;
    flex-direction: column;
}

.tools{
    display: flex;
    justify-content: space-between;
}


.searchs label{
    margin-right: 1em;
}
.searchs input{
    margin-left: 1em;
}