.search{
    margin: 0 auto;
    width: fit-content;
}

.search input{
    width: 300px;
    margin-right: 1em;
    border: 1px solid #c6cdc6;
    padding: 0.2em 1em;
    border-radius: 0.2em;
}

.search button{
    border: 1px solid #3366ff;
    background-color: white;
    border-radius: 0.2em;
    color:#3366ff
}