.bigSearch{
    width: 80%;
    margin: 0 auto;
}
.btn{
    border: none;
    background-color: #337aff;
    color:white;
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    position: relative;
    float: right;
}

.results{
    display: flex;
    flex-direction: row;
    /* padding: 0 5em; */
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.imgc{
    height: 10em;
    margin: 1em;
}

.imgc img{
    height: 100%;
}

.len{
    margin: 2em 4em 1em;
}